# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Neuralcoref directory
neuralcoref/

# Database binaries
*.sqlite3

# Mac files
.DS_Store
_DS_Store

# Floydhub files
floyd.yml
.floydexpt
.floydignore
.floyddata
floyd_requirements.txt

# Physio-Net Nursing Notes Files (IMPORTANT BECAUSE THEY CONTAIN PHI)
id.text
id-phi.phrase
id.phi
ner.data
