<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Anoni</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header">

    </div>

    <div class="content">
      <h2>Please enter text to de-identify!</h2>
      <h6 class="disclaimer">Disclaimer: Do not enter actual protected health information.</h6>
      <form class="" id="textform">
        <div><textarea name="input_text" form="textform" class="textarea-form" placeholder="Enter text here..."></textarea></div>
        <div><input name="submit" type="submit" id="text-submit" value="De-Identify"></div>
      </form>

      <div class="row">
        <div class="column"><h3>Original</h3></div>
        <div class="column"><h3>Scrubbed</h3></div>
      </div>
      <div class="row">
        <div class="column display" id="original">{{ text }}</div>
        <div class="column display" id="scrubbed">{{ scrubbed }}</div>
      </div>
    </div>

  </body>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>
